@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Oxanium:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Waiting+for+the+Sunrise&display=swap');


body {
    font-family: 'Poppins', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 400px;
    overflow: hidden;
    background: linear-gradient(-60deg, #161c26 25%, #252a34 25%, #252a34 50%, #161c26 50% );
}
h1{
    color: white;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

table, th, td {
    border: 1px solid #ddd;
    
}

th, td {
    padding: 12px;
    text-align: left;

}

td{
    color:white
}

th {
    background-color: #f2f2f2;
    
}

.form-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

input, textarea {
    width: 98%;
    padding: 8px;
    margin-bottom: 16px;

}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s all;
}


button:hover {
    background-color: #ffffff;
    color: #4CAF50;
}
